/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.my-component {
    background-image: url('background.png');
    border: 2px dashed red;
    margin: 1em 0;
    padding: 1em;
}