@inherits DiagramBase


<h1>Designer</h1>
<div @ref="diagram"
     tabindex="0"
     @onkeydown="KeyDown"
     @onkeyup="KeyUp">
    <svg width="800" height="600"
         @onmousemove="MouseMove"
         @onmousedown="MouseDown"
         @onmouseup="MouseUp"
         @onmouseout="MouseOut">
        <defs>
            <pattern id="tenthGrid" width="10" height="10" patternUnits="userSpaceOnUse">
                <path d="M 10 0 L 0 0 0 10" fill="none" stroke="silver" stroke-width="1" />
            </pattern>
            <pattern id="grid" width="40" height="40" patternUnits="userSpaceOnUse">
                <rect width="40" height="40" fill="url(#tenthGrid)" />
                <path d="M 40 0 L 0 0 0 40" fill="none" stroke="gray" stroke-width="1" />
            </pattern>
        </defs>
        <rect width="100%" height="100%" fill="url(#grid)" />
        <Selection Selection="@(Designer.Selection)" />

        @foreach (var connection in Designer.Connections)
        {
            <Connection Connection="connection" />
        }
        @foreach (var item in Designer.Items)
        {
            <Item Item="item" @key="item.Id" />
        }

    </svg>

</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Designer.Items)
        {
            <tr>
                <td>
                    @item.Label
                </td>
            </tr>
        }
    </tbody>
</table>

